*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Nav Bar  */

/* Nav Bar  */

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
}

.logo{
    text-decoration: none;
    color: white;
    font-weight: 600;
    letter-spacing: 0.5px;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
}
.nav-links{
    display: flex;
    justify-content: space-around;
    width: 20%;
    list-style-type: none;
}
.nav-links a{
    color: #8A8A8A;
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: 300;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}
.nav-links a:hover{
    color: #fff;
}
.nav-links .resume{
    font-weight: 600;
    color: #000;
    background-color: #BB86FC;
    padding: 10px 15px;
    border-radius: 5px;
}
.nav-links .resume:hover{
    color: #fff;
    border: 1px solid #fff;
    background-color: transparent;
    padding: 10px 14px;
}

.burger{
    display: none;
    cursor: pointer;
}
.burger div{
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
    transition: all 0.3s ease;
}
@media screen and (max-width:1024px){
    .nav-links{
        width: 60%;
    }
}
@media screen and (max-width:768px){
   
    nav {
        justify-content: space-between;
    }
    .nav-links{
        position: fixed;
        left: 0px;
        padding-right: 20px;
        height: 100vh;
        align-items: center;
        background-color: #9e8d8d;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100vw;
        top:0;
        
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }

    .nav-links li a {
        color: #fff;
    }
    .nav-links li{
        
        opacity: 0;
        margin-bottom: 100px;
    }
    .burger{
        display: block;
        top:0;
        right:0;
        margin-top:20px;
        margin-right: 50px;
        margin-right: 40px;
        margin-top:-4px;
    }

    nav a {
        margin-left: 40px;
    }
}
.nav-active{
    transform: translateX(0%);
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}
.toggle .line1{
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2{
    opacity: 0;
}

.toggle .line3{
    transform: rotate(45deg) translate(-5px, -6px);
}


/* end of nav bar */

body{
    background-color: #121212;
}
.title{
    color: #fff;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  width: 70%;
  margin: 70px auto;
}

.project-card {
    background-color: #e3ccff;
    border: 2px solid #e3ccff;
    min-height: 14em;
    /* width: 23em; */
    overflow: hidden;
    border-radius: 10px;
    /* margin: 20px; */
    transition: 0.7s ease;
}

.project-card:hover {
   transform: scale(1.1);
}

.project-card:hover .project-image {
    opacity: 0.9;
 }

.project-image img{
    width: 100%
}

.project-info {
    padding: 1em;
}

.project-category {
    font-family: 'Roboto', sans-serif;
    font-size: 0.8em;
    color: #000;
}

.project-title {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 10px;
}

.more-details button{
    border: none;
    padding: 10px 15px;
    border-radius: 50px;
    background-color: #a357ff;
    cursor: pointer;
}

.more-details button:hover {
    background-color: #BB86FC;
    transition: 0.5s;
    
}


@media screen and (max-width:1056px) {
    .content{
        grid-template-columns: repeat(2, 1fr);
}
}


@media screen and (max-width:768px) {
    .content{
        grid-template-columns: repeat(1, 1fr);
}
}